#page {
  width: 80%;
  margin-left: 10%;
}

#header h3 {
  text-align: center
}

#header img {
  display: block;
  margin-left: auto;
  margin-right: auto
}


#plugins-status {
  margin-left: auto;
  margin-right: auto;
}

table#plugins-status tr td ul {
  list-style: none;
}


table#plugins-status tr td {
  text-align: left;
  padding: 5;
}

table#plugins-status tr td a img {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: #31beb1;
  text-decoration: none;
  outline: none;
}

